FASTSPRING_API_URL=https://api.fastspring.com
FASTSPRING_API_USERNAME=YOUR_API_USERNAME
FASTSPRING_API_PASSWORD=YOUR_API_PASSWORD
DEMO_ACCOUNT_ID=FASTSPRING_ACCOUNT_ID_FOR_DEMO
NEXT_PUBLIC_FASTSPRING_WEB_CHECKOUT_URL=YOUR_WEB_CHECKOUT_STOREFRONT
NEXT_PUBLIC_FASTSPRING_POPUP_CHECKOUT=YOUR_POPUP_CHECKOUT_STOREFRONT
NEXT_PUBLIC_FASTSPRING_EMBEDDED_CHECKOUT=YOUR_EMBEDDED_CHECKOUT_STOREFRONT
NEXT_PUBLIC_FASTSPRING_JS_URL=https://sbl.onfastspring.com/sbl/1.0.5/fastspring-builder.min.js
NEXT_PUBLIC_FASTSPRING_DATA_ACCESS_KEY=YOUR_DATA_ACCESS_KEY